In [1]:
from pyspark.sql import HiveContext
sqlContext = HiveContext(sc)

In [2]:
sqlContext.sql("show tables").show(50)

+--------------------+-----------+
|           tableName|isTemporary|
+--------------------+-----------+
|    altredditarchive|      false|
|altredditarchive_raw|      false|
|         altvaprices|      false|
|     altvaprices_raw|      false|
|        bike_seasons|      false|
|      bike_share_raw|      false|
|       complications|      false|
|      effective_care|      false|
|                 foo|      false|
|           hospitals|      false|
|          infections|      false|
|            measures|      false|
|          metacritic|      false|
|      metacritic_raw|      false|
|metacriticwhiskyd...|      false|
|metacriticwhiskyd...|      false|
|             my_care|      false|
|my_combined_proce...|      false|
|    my_complications|      false|
|        my_hospitals|      false|
|       my_infections|      false|
|     my_readmissions|      false|
|    my_survey_scores|      false|
|               proof|      false|
|           proof_raw|      false|
|        readmissions|      false|
|       redditarchive|      false|
|   redditarchive_raw|      false|
|redditwhiskynetwo...|      false|
|redditwhiskynetwo...|      false|
|             seasons|      false|
|            stadiums|      false|
|   surveys_responses|      false|
|           user_info|      false|
|         vapricelist|      false|
|     vapricelist_raw|      false|
|            vaprices|      false|
|        vaprices_raw|      false|
|             weather|      false|
|        weblogs_flat|      false|
|     weblogs_parquet|      false|
|      weblogs_schema|      false|
|     web_session_log|      false|
+--------------------+-----------+

In [3]:
sql = """
SELECT altbrand, altprice from vaprices
"""
sqlContext.sql(sql).show()

+--------------------+--------+
|            altbrand|altprice|
+--------------------+--------+
|     1792 full proof|   47.99|
|    1792 finish port|   42.99|
|  1792 barrel single|   42.99|
|    1792 batch small|   33.99|
|    1792 sweet wheat|   39.99|
|abraham bowman co...|   39.99|
|abraham bowman ed...|   69.99|
|         age ancient|    6.49|
|         age ancient|   12.99|
|         age ancient|   14.99|
|         age ancient|   26.99|
|age ancient traveler|   12.99|
| age ancient ancient|   16.99|
| age ancient ancient|   28.99|
|angel barrel envy...|   49.99|
|               baker|   49.99|
|         barterhouse|   75.99|
|        basil hayden|   43.99|
|         belle meade|   41.99|
|belle finish mead...|   85.29|
+--------------------+--------+
only showing top 20 rows

In [4]:
sql = """
SELECT altbrand, altbottleprice, rating from redditarchive
"""
sqlContext.sql(sql).show()

+--------------------+--------------+------+
|            altbrand|altbottleprice|rating|
+--------------------+--------------+------+
|          100 pipers|          null|    68|
|11 13 minnesota w...|          30.0|    75|
|     1792 full proof|          null|    85|
|     1792 full proof|          50.0|    87|
|     1792 full proof|          45.0|    80|
|       1792 high rye|          36.0|    86|
|    1792 finish port|          null|    79|
|    1792 finish port|          38.0|    83|
|    1792 finish port|          42.0|    76|
|    1792 finish port|          49.0|    75|
|    1792 finish port|          40.0|    84|
|1792 reserve ridg...|          19.0|    83|
|1792 reserve ridg...|          null|    88|
|1792 reserve ridg...|          27.0|    84|
|1792 reserve ridg...|      40.38289|    85|
|1792 reserve ridg...|          42.0|    64|
|1792 reserve ridg...|          39.0|    88|
|1792 reserve ridg...|          21.0|    74|
|1792 reserve ridg...|          29.0|    86|
|1792 reserve ridg...|          30.0|    71|
+--------------------+--------------+------+
only showing top 20 rows

In [5]:
sql = """
SELECT a.altbrand, avg(altbottleprice) as avgbottleprice, avg(rating) as avgrating, avg(p.altprice) as vaprice
from redditarchive a join vaprices p on a.altbrand = p.altbrand
group by a.altbrand order by avgrating desc
"""
sqlContext.sql(sql).show()

+--------------------+------------------+-----------------+------------------+
|            altbrand|    avgbottleprice|        avgrating|           vaprice|
+--------------------+------------------+-----------------+------------------+
|        25 laphroaig|              null|             95.0|  499.989990234375|
|         30 caol ila| 560.8734741210938|93.33333333333333|  799.989990234375|
|         elmer lee t|              40.0|             93.0|  35.9900016784668|
|james jesse original|              18.0|             93.0| 19.09000015258789|
|15 family pappy r...|147.35714285714286|92.04761904761905| 99.98999786376953|
|2015 edition four...|              null|             92.0| 97.38999938964844|
|catoctin creek ro...|              53.0|             92.0| 45.09000015258789|
|2016 batch editio...|             140.0|             92.0| 97.38999938964844|
|          booker rye|             299.5|            91.25|  299.989990234375|
|         25 talisker| 194.1177101135254|91.15384615384616|  659.989990234375|
|        12 lagavulin| 99.96207358620383|90.57627118644068|128.99000549316406|
|    25 highland park| 251.8436737060547|            90.45|  799.989990234375|
|10 old rip van wi...| 56.96897561209543|90.29166666666667|  59.9900016784668|
| ardbeg corryvreckan| 85.94230104529339|          90.1125| 84.98999786376953|
|edition fire high...|              null|             90.0|  399.989990234375|
|  1 edition macallan|              95.0|            89.75| 99.98999786376953|
|cask laphroaig qu...| 56.18500372628185|89.51851851851852|  59.9900016784668|
|        18 laphroaig|  93.0476038733194|89.42857142857143|109.98999786376953|
|      angel envy rye| 73.71428571428571|             89.3| 79.98999786376953|
|1776 e. james pep...|              25.0|             89.0|29.889999389648438|
+--------------------+------------------+-----------------+------------------+
only showing top 20 rows

In [16]:
sql = """
SELECT a.altbrand, avg(a.rating) as reddit_rating, avg(p.altprice) as vaprice, 
avg(proof.rating) as proof_rating, avg(m.metacritic) as meta_rating
from redditarchive a join vaprices p on a.altbrand = p.altbrand join proof on a.altbrand = proof.altbrand 
join metacritic m on a.altbrand = m.altbrand
group by a.altbrand
"""
sqlContext.sql(sql).show()

+--------------------+-----------------+------------------+------------+-----------------+
|            altbrand|    reddit_rating|           vaprice|proof_rating|      meta_rating|
+--------------------+-----------------+------------------+------------+-----------------+
|             bulleit|81.15384615384616| 37.32333437601725|       664.0|8.380000114440918|
|        basil hayden|80.14285714285714|  43.9900016784668|       543.0|8.380000114440918|
|        forester old|            78.25|26.323333740234375|       473.0|8.109999656677246|
|       buffalo trace| 84.3015873015873| 40.99000072479248|       683.0|8.569999694824219|
|   114 dad grand old|85.21153846153847|24.989999771118164|        null|8.640000343322754|
|          rebel yell|             70.0|21.489999771118164|       612.0|7.449999809265137|
|     101 turkey wild| 84.9090909090909|22.906667113304138|        null|8.510000228881836|
|barrel creek knob...|             84.5|  47.9900016784668|       530.0|8.800000190734863|
|double oaked rese...|             82.0|  56.9900016784668|       623.0|8.720000267028809|
+--------------------+-----------------+------------------+------------+-----------------+