In [1]:
from pyspark.sql import HiveContext
sqlContext = HiveContext(sc)

In [2]:
sqlContext.sql("show tables").show(50)

+--------------------+-----------+
|           tableName|isTemporary|
+--------------------+-----------+
|    altredditarchive|      false|
|altredditarchive_raw|      false|
|         altvaprices|      false|
|     altvaprices_raw|      false|
|        bike_seasons|      false|
|      bike_share_raw|      false|
|       complications|      false|
|      effective_care|      false|
|                 foo|      false|
|           hospitals|      false|
|          infections|      false|
|            measures|      false|
|metacriticwhiskyd...|      false|
|metacriticwhiskyd...|      false|
|             my_care|      false|
|my_combined_proce...|      false|
|    my_complications|      false|
|        my_hospitals|      false|
|       my_infections|      false|
|     my_readmissions|      false|
|    my_survey_scores|      false|
|               proof|      false|
|           proof_raw|      false|
|        readmissions|      false|
|redditwhiskynetwo...|      false|
|redditwhiskynetwo...|      false|
|             seasons|      false|
|            stadiums|      false|
|   surveys_responses|      false|
|           user_info|      false|
|         vapricelist|      false|
|     vapricelist_raw|      false|
|             weather|      false|
|        weblogs_flat|      false|
|     weblogs_parquet|      false|
|      weblogs_schema|      false|
|     web_session_log|      false|
+--------------------+-----------+

In [6]:
sql = """
SELECT altbrand, altprice from altvaprices
"""
sqlContext.sql(sql).show()

+--------------------+--------+
|            altbrand|altprice|
+--------------------+--------+
|     1792 full proof|   47.99|
|    1792 port finish|   42.99|
|  1792 single barrel|   42.99|
|    1792 small batch|   33.99|
|    1792 sweet wheat|   39.99|
|abraham bowman gi...|   39.99|
|abraham bowman wh...|   69.99|
|         ancient age|    6.49|
|         ancient age|   12.99|
|         ancient age|   14.99|
|         ancient age|   26.99|
|ancient age traveler|   12.99|
| ancient ancient age|   16.99|
| ancient ancient age|   28.99|
|angel envy port b...|   49.99|
|               baker|   49.99|
|         barterhouse|   75.99|
|        basil hayden|   43.99|
|         belle meade|   41.99|
|belle meade sherr...|   85.29|
+--------------------+--------+
only showing top 20 rows

In [10]:
sql = """
SELECT altbrand, altbottleprice, rating from altredditarchive
"""
sqlContext.sql(sql).show()

+--------------------+--------------+------+
|            altbrand|altbottleprice|rating|
+--------------------+--------------+------+
|          100 pipers|          null|    68|
|11 wells minnesot...|          30.0|    75|
|     1792 full proof|          null|    85|
|     1792 full proof|          50.0|    87|
|     1792 full proof|          45.0|    80|
|       1792 high rye|          36.0|    86|
|    1792 port finish|          null|    79|
|    1792 port finish|          38.0|    83|
|    1792 port finish|          42.0|    76|
|    1792 port finish|          49.0|    75|
|    1792 port finish|          40.0|    84|
|1792 ridgemont re...|          19.0|    83|
|1792 ridgemont re...|          null|    88|
|1792 ridgemont re...|          27.0|    84|
|1792 ridgemont re...|     40.555763|    85|
|1792 ridgemont re...|          42.0|    64|
|1792 ridgemont re...|          39.0|    88|
|1792 ridgemont re...|          21.0|    74|
|1792 ridgemont re...|          29.0|    86|
|1792 ridgemont re...|          30.0|    71|
+--------------------+--------------+------+
only showing top 20 rows

In [17]:
sql = """
SELECT a.altbrand, avg(altbottleprice) as avgbottleprice, avg(rating) as avgrating, avg(p.altprice) as vaprice
from altredditarchive a join altvaprices p on a.altbrand = p.altbrand
group by a.altbrand order by avgrating desc
"""
sqlContext.sql(sql).show()

+--------------------+------------------+-----------------+------------------+
|            altbrand|    avgbottleprice|        avgrating|           vaprice|
+--------------------+------------------+-----------------+------------------+
|         caol ila 30| 563.2744750976562|93.33333333333333|  799.989990234375|
|original jesse james|              18.0|             93.0| 19.09000015258789|
|pappy van winkle ...|147.35714285714286|92.04761904761905| 99.98999786376953|
|four roses limite...|              null|             92.0| 97.38999938964844|
|four roses small ...|             140.0|             92.0| 97.38999938964844|
|catoctin creek ro...|              53.0|             92.0| 45.09000015258789|
|          booker rye|             299.5|            91.25|  299.989990234375|
|         talisker 25|194.31299209594727|91.15384615384616|  659.989990234375|
|macallan edition ...|              95.0|             91.0| 99.98999786376953|
|        lagavulin 12| 99.97332694313742|90.57627118644068|128.99000549316406|
|old rip van winkl...| 56.98841258457729|90.29166666666667|  59.9900016784668|
| ardbeg corryvreckan| 85.95802771526834|          90.1125| 84.98999786376953|
|highland park fir...|              null|             90.0|  399.989990234375|
|laphroaig quarter...|56.208520443640026|89.51851851851852|  59.9900016784668|
|        laphroaig 18| 93.09748591933139|89.42857142857143|109.98999786376953|
|      angel envy rye| 73.71428571428571|             89.3| 79.98999786376953|
|james e. pepper 1...|              25.0|             89.0|29.889999389648438|
|         talisker 18|102.28877512613933|88.61538461538461|149.99000549316406|
|talisker distille...| 77.83948262532552|88.57142857142857| 95.98999786376953|
|old forester birt...|              90.0|             88.5| 79.98999786376953|
+--------------------+------------------+-----------------+------------------+
only showing top 20 rows